<div class="sidebar">
    <h2>Input Generator</h2>
    <ul>
        <li><a onclick="mainController.showContainer('number')"><i class="fas fa-number"></i>Number Generator</a></li>
        <li><a onclick="mainController.showContainer('string')"><i class="fas fa-string"></i>String Generator</a></li>
        <li><a onclick="mainController.showContainer('vector')"><i class="fas fa-vector"></i>Vector Generator</a></li>
        <li><a onclick="mainController.showContainer('matrix')"><i class="fas fa-matrix"></i>Matrix Generator</a></li>
        <li><a onclick="mainController.showContainer('graph')"><i class="fas fa-graph"></i>Graph Generator</a></li>
        <li><a onclick="mainController.showContainer('tree')"><i class="fas fa-tree"></i>Tree Generator</a></li>
    </ul>
</div>