    <h3>String Generator</h3>
    <br>

    <label for="string-min">Minimum lenght:</label>
    <input type="number" id="string-min" placeholder="Enter min value"><br><br>

    <label for="string-max">Maximum lenght:</label>
    <input type="number" id="string-max" placeholder="Enter max value"><br><br>

    <label for="string-unique">Unique:</label>
    <select id="string-unique">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br><br>

    <label for="string-letter">With which letters?</label>
    <input type="number" id="string-letter" placeholder="Please use , in between"><br><br>

    <label for="string-count">How many strings?</label>
    <input type="number" id="string-count" placeholder="Enter count"><br><br>



    <button onclick="generateStrings()">Generate</button>

    <div id="string-output" style="margin-top: 20px;"></div>
