<h3>String Generator</h3>
    <br>

    <label for="string-min">Minimum lenght:</label>
    <input type="number" id="string-min" placeholder="Enter min value"><br><br>

    <label for="string-max">Maximum lenght:</label>
    <input type="number" id="string-max" placeholder="Enter max value"><br><br>

    <label for="same-length">If you want all the strings to have the same length:</label>
    <input type="number" id="same-length" placeholder="Enter length"><br><br>

    <label for="include-prefix">Include this prefix:</label>
    <input type="text" id="include-prefix" placeholder="Enter prefix"><br><br>

    <label for="include-suffix">Include this suffix:</label>
    <input type="text" id="include-suffix" placeholder="Enter suffix"><br><br>

    <label for="sorting">Sorting:</label>
    <select id="sorting">
        <option value="none">None</option>
        <option value="revAlph">Reverse Alphabetically</option>
        <option value="alph">Alphabetically</option>
        <option value="desc">Descending by lenght</option>
        <option value="asc">Ascending by lenght</option>
    </select><br><br>

    <label for="string-unique">Unique:</label>
    <select id="string-unique">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br><br>

    <label for="string-letter">With which letters?</label>
    <input type="text" id="string-letter" placeholder="Please use , in between"><br><br>

    <label for="string-count">How many strings?</label>
    <input type="number" id="string-count" placeholder="Enter count"><br><br>

    <button onclick="mainController.generateStrings()">Generate</button> 
    <button onclick="mainController.exportStringAsJson()">Export as JSON</button>
    <button onclick="mainController.exportStringAsCsv()">Export as CSV</button>


    <div id="string-output" style="margin-top: 20px;"></div>

    <button onclick="mainController.saveStringInputs()">Save Inputs</button>
    <div id="save-status-string" style="margin-top: 10px;"></div>