body{
    display:grid;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: rebeccapurple;
}

.logo
{
    align-self: center;
    text-align-last: center;
    border-radius: 10%;
    border:0rem;
    background-image: linear-gradient(rgb(178, 130, 200),aliceblue);
    
}

.login-bar{
    background-color: rgb(57, 57, 147);
    color: black;
    align-self: center;
    padding: 0;
    margin-left: -5rem;
    margin-right: -5rem;
    border-radius: 10rem;
    text-align: center;
    border: 2px solid black;
    border-bottom: 5px solid black;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.6);;
   
}

.formular{
    background-color: aliceblue;
    padding-top: 1.5rem;
    align-self: center;
    margin-left: -3rem;
    margin-right: -3rem;
    border-radius: 3rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
.formular label {
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 0%;
    border: 0;
}

.formular #email,
.formular #pwd {
    background-color:white;
    height: 2.5rem;
    padding: 0 0 0 1rem; 
    margin: 0;
    border-radius: 1rem;
    border: 3px solid;
    border-color: rgb(125, 109, 142);
}

.formular #email::placeholder,
.formular #pwd::placeholder {
    color: rgb(125, 109, 142); 
    opacity: 1;
    font-weight: bold;
}

.formular #login
{
    background-color:rgb(184, 125, 239) ;
    height: 2.5rem;
    width: 6rem;
    border-radius: 1rem;
    padding: 0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-bottom: 3px solid black;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);

}