<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inpot</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="module" src="../controllers/mainController.js"></script>
</head>

<body>
    <div class="background-img"></div>

    <div class="wrapper">
        <div id="sidebar"></div>

        <div class="content">
            <div id="number" class="container" style="display: none;"></div>
            <div id="string" class="container" style="display: none;"></div>
            <div id="vector" class="container" style="display: none;"></div>
            <div id="matrix" class="container" style="display: none;"></div>
            <div id="graph" class="container" style="display: none;"></div>
            <div id="tree" class="container" style="display: none;"></div>
        </div>
    </div>
</body>
</html>