<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inpot is an application designed to generate numbers, strings, vectors, matrices, graphs and trees with various custom parameters for creative explorations." />
    <meta name="keywords" content="Inpot, number generator, string generator, vector, matrix, graph, tree" />
    <link rel="canonical" href="https://www.example.com/inpot" />
    <title>Inpot</title>  
    <script type="module" src="../controllers/mainController.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="background-img"></div>
    <div class="wrapper">
        <div id="sidebar"></div>
        <div class="content">
            <div id="number" class="container" style="display: none;"></div>
            <div id="string" class="container" style="display: none;"></div>
            <div id="vector" class="container" style="display: none;"></div>
            <div id="matrix" class="container" style="display: none;"></div>
            <div id="graph" class="container" style="display: none;"></div>
            <div id="tree" class="container" style="display: none;"></div>
            <div id="history" class="container" style="display: none;"></div>
        </div>
    </div>
</body>
</html>