body{
    display:grid;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: rebeccapurple;
}

.logo
{
    align-self: center;
    text-align-last: center;
    border-radius: 10%;
    border:0rem;
    background-image: linear-gradient(rgb(178, 130, 200),aliceblue);

}

.login-bar{
    background-color: rgb(77, 10, 148);
    color: black;
    align-self: center;
    padding: 1rem 2rem;
    border-radius: 50rem;
    text-align: center;
    border: 2px solid black;
    border-bottom: 5px solid black;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.6);;
    width: 100%;
    height: 20%;
    box-sizing: border-box;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.formular{
    background-color: aliceblue;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0 0 3rem 3rem;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
}
.formular label {
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 0%;
    border: 0;
}

.formular #email,
.formular #pwd,
.formular #last-name,
.formular #first-name {
    background-color:white;
    height: 2.5rem;
    padding: 0 0 0 1rem; 
    margin: 0.2rem; 
    width: 90%;
    border-radius: 1rem;
    border: 3px solid;
    border-color: rgb(125, 109, 142);
}

.formular #email::placeholder,
.formular #pwd::placeholder,
.formular #last-name::placeholder,
.formular #first-name::placeholder {
    color: rgb(125, 109, 142); 
    opacity: 1;
    font-weight: bold;
}

.formular #login
{
    background-color:rgb(184, 125, 239) ;
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    padding: 0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-bottom: 3px solid black;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.background-img{
    background-image: url(../media/binary.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.container {
    background-image: linear-gradient(rgb(137, 23, 208), rgb(162, 97, 190));
    color: black;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid black;
    border-bottom: 5px solid black;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.6);
    max-width: 450px;
    width: 90%;
    min-height: 80%;
    height: auto;
    z-index: 1;
    position: relative;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.register-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(131, 19, 201);
    margin-left: auto;
    font-size: 13px;
}

.register-link:hover {
    text-decoration: underline;
}